Lists List is representing using []. Lists can store any no.of different data types together. List can be classified as single-dimensional and multi-dimensional. List is a mutable object, which means elements in list can be changed. It can store asymmetric data types

In [1]:
empty_list = []

print(f"{type(empty_list)} {empty_list = }")
print(f"{len(empty_list) =}")

<class 'list'> empty_list = []
len(empty_list) =0

In [2]:
# Homogenous list
numbers = [12, 334, 23, 2, -323]
print(f"\n{type(numbers)} {numbers =}")
print(f"{len(numbers) =}")

<class 'list'> numbers =[12, 334, 23, 2, -323]
len(numbers) =5

In [3]:
# non-homogenous
numbers = [12, 3.4, -0.00004, 434243432432, "abc", True, 4 + 55 / 6, "4 + 55 / 6"]
print(f"\n{type(numbers)} {numbers =}")
print(f"{len(numbers) =}")

<class 'list'> numbers =[12, 3.4, -4e-05, 434243432432, 'abc', True, 13.166666666666666, '4 + 55 / 6']
len(numbers) =8

In [4]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  -------5---------
#                       0  1  2   --3--
#                                 0   1

print(f"\n{type(ml)} {ml =}")
print(f"{len(ml) =}")

<class 'list'> ml =[1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
len(ml) =6

In [5]:
print(f"{type(ml[3])} {ml[3] =}")
print(f"{type(ml[4])} {ml[4] =}")

<class 'float'> ml[3] =4.3
<class 'int'> ml[4] =5

In [6]:
print(f"\n{type(ml[5])} {ml[5] =}")
print(f"{type(ml[5][1])} {ml[5][1] =}")
print(f"{type(ml[5][3])} {ml[5][3] =}")

<class 'list'> ml[5] =[6, 7, 8, (9, 10)]
<class 'int'> ml[5][1] =7
<class 'tuple'> ml[5][3] =(9, 10)

In [7]:
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  -------5---------
#                       0  1  2   --3--
#                                 0   1

ml[5]

[6, 7, 8, (9, 10)]

In [8]:
ml[5][3]

(9, 10)

In [9]:
ml[5][3][0]

9

In [10]:
# forward vs reverse indexing
# [1, 2, 3, 4.3, 5, [6,  7,  8, (9, 10)]]
# -6 -5  -4  -3  -2  ------- -1 -------  - reverse indexing
#                   -4  -3  -2  -- -1 --
#                               -2  -1

# 0  1  2   3   4  -------5--------- - forward indexing


ml

[1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]

In [11]:
ml[-1][-1][-2]

9

In [12]:
print(ml[-5] == ml[1])
assert ml[-5] == ml[1]

True

In [13]:
# Slicing - last value in boundary will not be included
# [start_index, final_index, step]
# default start_index = 0 ; final_index = len(list); step = 1
print("\nml[1:4]      ", ml[1:4])
print("ml[1:4:2]    ", ml[1:4:2])

ml[1:4]       [2, 3, 4.3]
ml[1:4:2]     [2, 4.3]

mutability Mutable objects: List, set, dict immutable objects: int, float, str, bool, None, tuple, frozenset, iterator

In [14]:
num1 = 1234
print(f"{num1 =} {type(num1)} {id(num1)=}")

num1 =1234 <class 'int'> id(num1)=127796796273488

In [15]:
num1 = 1234
print(f"{num1 =} {type(num1)} {id(num1)=}")

num1 =1234 <class 'int'> id(num1)=127796796274800

In [16]:
name = "shiva kumar"
print(f"name         :{name}")
print(f"name[0:3]    :{name[0:3]}")

name         :shiva kumar
name[0:3]    :shi

In [22]:
print(f'{id(name) = }')
name = "shiva k"      # OVERwriting
print(f'{id(name) = }')

id(name) = 127796797173808
id(name) = 127796786954384

In [23]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  --------5--------
#                       0  1  2   --3--
#                                 0   1
print()
print("List is a mutable object =======")
print("ml           ", ml)          # value
print("type(ml)     ", type(ml))    # data type
print("id(ml)       ", id(ml))      # address location -

List is a mutable object =======
ml            [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
type(ml)      <class 'list'>
id(ml)        127796786829248

In [24]:
ml[3]

4.3